// common-styles
main {
    min-height: 800px;
    .container {
        margin-top: 80px;
    }
}


/*---------------------------------
 ログイン画面
---------------------------------*/
.sign-in-link {
    margin-top: 15px;
}

/*---------------------------------
 トップ
---------------------------------*/

// 検索フォーム
#search-form {
    width: 100%;
    background: $key-color-1;
    border-bottom: 5px solid #6ca3d4;
    padding: 20px;
    margin-bottom: 60px;
    form {
        text-align: center;
        .pokemon-search {
            display: flex;
            justify-content: center;
            input {
                border: 2px solid #ddd;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                margin: 0;
                padding: 0.4rem;
                width: 500px;
                border-right: none;
                @media (max-width: 600px) {
                    width: 310px;
                } 
                @media (max-width: 400px) {
                    width: 200px;
                    font-size: 0.7rem;
                } 
            }
            #submit-btn {
                border: 2px solid #ddd;
                padding: 0.4rem;
                background: #6ca3d4;
                color: #fff;
                border-top-right-radius: 0.35rem;
                border-bottom-right-radius: 0.35rem;
                width: 60px;
                min-width: 60px;
                border-left: none;
                font-weight: bold;
            }
        }
    }
}

// ページネーション
.pagination {
    margin-top: 30px;
    justify-content: center;
}

// 育成論
.card-body {
    line-height: 190%;
    .user-icon {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    .theory-title {
        font-size: 1.2rem;
    }
    .pokemon-name {
        font-size: 1.3rem;
    }
    .pokemon-types {
        .type {
            border: 1px solid #ddd;
            border-radius: 4px;
            color: #fff;
            margin: 0 2px;
            padding: 0.2rem;
            font-size: 12px;
            vertical-align: top;
        }
        @each $key, $color in $colors {
            .type-#{$key} {
                background: $color;
            }
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .date {
            margin-left: 10px;
            @media (max-width: 400px) {
                margin-left: 8px;
                font-size: 0.6rem;
            } 
        }
    }
    .theory-user-icon {
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
    .good-btn-area {
        margin-top: 15px;
        .good-btn {
            margin-left: 5px;
            font-size: 1.2rem;
            color: gray;
            transition: all 0.4s;
            cursor: pointer;
        }
        .add-good {
            color: red;
            transition: all 0.4s;
        }
    }
    .edit-area {
        display: flex;
        justify-content: flex-end;
        a {
            margin: 0 5px;
        }
    }
}


/*---------------------------------
 ユーザーページ
---------------------------------*/
#user-page {
    #user-profile {
        text-align: center;
        .profile-icon {
            width: 100px;
            max-width: 100px;
            height: 100px;
        }
    }
    .theory-heading {
        font-size: 2rem;
        background: #6ca3d4;
        padding: 0.6rem;
        text-align: center;
        color: #fff;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin: 10px 0;
    }
}

/*---------------------------------
 記事の部分
---------------------------------*/
.content-wrapper {
    min-height: 800px;
    .content-title {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    .author-area {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .user-info {
            margin-bottom: 20px !important;
        }
        @media (max-width: 600px) {
            display: block;
            .good-btn-area {
                margin-bottom: 10px;
            }
        }
    }
    .pokemon-types {
        margin-bottom: 20px;
    }
    .theory-box {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 10px 0;
        padding: 0.8rem;
        background: $key-color-1;
        @media (max-width: 600px) {
            display: block;
            margin: 20px 0;
        }
    }
    #content {
        line-height: 36px;
        padding: 0.5rem;
        font-size: 16px;
        h2,h3,h4,h5 {
            margin: 35px 0 20px;
            line-height: 190%;
        }
        p {
            margin: 30px 0;
        }
    }
}

/*---------------------------------
 フッター
---------------------------------*/
#footer {
    background: #fff;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    .copyright {
        font-weight: bold;
    }
}
