// ポケモンのタイプの色を出力するための変数
$colors: (
    1: rgb(107, 105, 105),
    2: rgb(255, 165, 0),
    3: rgb(0, 162, 255),
    4: rgb(187, 189, 76),
    5: rgb(20, 163, 16),
    6: rgb(31, 218, 218),
    7: rgb(209, 92, 13),
    8: rgb(123, 17, 172),
    9: rgb(145, 91, 30),
    10: rgb(0, 110, 255),
    11: rgb(236, 85, 236),
    12: rgb(82, 212, 71),
    13: rgb(78, 71, 2),
    14: rgb(41, 5, 128),
    15: rgb(255, 123, 0),
    16: rgb(37, 35, 35),
    17: rgb(82, 81, 78),
    18: rgb(253, 143, 180),
);

// トップ
.card-body {
    line-height: 190%;
    .user-icon {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    .pokemon-types {
        .type {
            border: 1px solid #ddd;
            border-radius: 4px;
            color: #fff;
            margin: 0 2px;
            padding: 0.2rem;
            font-size: 12px;
            vertical-align: top;
        }
        @each $key, $color in $colors {
            .type-#{$key} {
                background: $color;
            }
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .date {
            margin-left: 10px;
        }
    }
    .theory-user-icon {
        width: 34px;
        height: 34px;
        margin-right: 10px;
    }
    .edit-area {
        display: flex;
        justify-content: flex-end;
        a {
            margin: 0 5px;
        }
    }
}

// ユーザーページ 
#user-page {
    #user-profile {
        text-align: center;
        .profile-icon {
            width: 100px;
            max-width: 100px;
            height: 100px;
        }
    }
    .theory-heading {
        font-size: 2rem;
        background: #6ca3d4;
        padding: 0.6rem;
        text-align: center;
        color: #fff;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin: 10px 0;
    }
}

// フッター
#footer {
    background: #fff;
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    .copyright {
        font-weight: bold;
    }
}
